<h3>Maintenance/Repairs Request </h3>
<small>
    Notification <span class="badge badge-pill badge-danger">{{count}}</span>
</small>
{{#if msg}}
<div class="alert alert-{{class}} alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button> {{msg}}
</div>
{{/if}} {{#if results}}
<table class="table table-sm table-inverse">
    <thead>
        <tr>
            <th>#</th>
            <th>Issue</th>
            <th>Type</th>
            <th>Status (Resolved?)</th>
            <th>Assigned Personnel</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#results}}
        <tr>
            <td>{{inc @index}}</td>
            <td>{{problem}}</td>
            <td>{{type}}</td>
            <td>{{resolveStatus}}</td>
            <td>{{assignedPersonnel}}</td>
            <td>
                {{#if resolveStatus}}
                <button type="button" class="btn btn-primary btn-sm" disabled>Resloved</button>
                {{else}}
                <button type="button" class="resolve-button btn btn-primary btn-sm" data-id="{{_id}}">Mark as Resolved</button>
                {{/if}}
                <button type="button" class="btn btn-success btn-sm" data-id="{{_id}}">Approve</button>
                <button type="button" class="btn btn-danger btn-sm" data-id="{{_id}}">Reject</button>
            </td>
        </tr>
        {{/results}}
    </tbody>
</table>
{{else}}
<div class="alert alert-warning fade show" role="alert">
    <p>Oop! Nothing to show here. No Request have been logged. Please log a request and try again.</p>
</div>
{{/if}}